body {
  font-family: "Inter", sans-serif;
  background-color: #191919;
  color: #f9fafb;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  background: linear-gradient(to bottom, #0072fb 0%, #1e3c72 100%);
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__button {
  background-color: #191919;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
}

.main {
  width: 100%;
  background-color: white;
  padding: 0;
  min-height: 500px;
}

.main__title {
  font-weight: 600;
  margin-bottom: 24px;
  background-color: #191919;
}

.main__title h2 {
  font-size: 26px;
  margin-bottom: 24px;
  padding: 16px;
  margin: 0 auto;
  max-width: 1200px;
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(128px, 1fr)); */
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 16px 50px;
  color: black;
}

.main__content--homepage {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.main__content--homepage .card {
  background-size: cover;
  background-position: center;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0 0 30px;
  width: 128px;
}

.card {
  background-color: #000;
  height: 184px;
  width: 128px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__title {
  margin-top: 8px;
  color: #d1d5db;
  text-align: center;
}

.card__text {
  color: black;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.card__image {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.footer {
  background-color: #191919;
  opacity: 0.75;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.footer__copyright {
  width: 100%;
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
  padding: 16px 0 32px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.footer__separator {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.footer__social {
  display: flex;
  gap: 24px;
}

.footer__social img {
  width: 40px;
  height: 40px;
}

.footer__apps {
  padding: 0 80px 0;
  display: flex;
  gap: 16px;
}

.footer__apps img {
  width: auto;
  height: 40px;
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .header__nav {
    margin-top: 16px;
    justify-content: center;
  }

  .footer__apps {
    justify-content: center; /* Center the icons */
    flex-wrap: wrap; /* Allow icons to wrap to the next row */
    gap: 12px; /* Adjust spacing for smaller screens */
    padding: 0;
  }

  .footer__apps img {
    height: 32px; /* Reduce icon size for smaller screens */
  }
}
